
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
}

#title{
    margin-bottom: 50px;
}

#time-input{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-end;
    background-color: whitesmoke;
    padding: 25px;
    border-radius: 25px;
    border: 1px solid lightgray;
}

#time-input input{
    width: 150px;
}

#time-input button{
    align-self: center;
}

#braveheart-output{
    margin-top: 25px;
}
